@font-face {
  font-family: 'din';
  src: url('../assets/font/D-DIN.otf');
}
@font-face {
  font-family: 'din-bold';
  src: url('../assets/font/D-DIN-Bold.otf');
}
@font-face {
  font-family: 'gilton';
  src: url('../assets/font/GILTON.otf');
}
:root {
  --bg-color: #e3d0c1;
  --black: rgb(30, 27, 27);
  --taille-texte: 16px;
  --red-faded:rgba(242, 73, 21, 0.674);
  --primary-color: #3EA265;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  font-family: 'din';
  font-size: 10px;
  scroll-behavior: smooth;
}
a{
  color:var(--black)
}
.bold{
  font-family: 'din-bold';
  font-size: inherit;
}
.link{
  text-decoration: none;
  color: inherit;
  font-size: 2.9rem;
}
.link:hover{
  text-decoration: underline;
}
body{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  overflow-x: hidden;
  color: var(--black)
}

main{
  overflow: hidden;
}

.wrapper{
  width: 100%;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;

}
@media screen and (min-width: 1500px) {
  .wrapper{
    max-width: 1400px;
  }
}
@media screen and (max-width: 700px) {
  .wrapper{
    max-width: 95%;
    margin-bottom: 70px;
  }
}
svg{
  height: fit-content;
  color: var(--black);
}
.section-home{
  position: relative;
  width: 100%;
  height: 100svh;
  min-height: 600px;
  max-height: 800px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  @media screen and (max-width: 1000px) {
      margin-bottom: 0;
  }
}

.home-image{
  position: relative;
  width: 450px;
  height: auto;
  margin-top: auto;
  transform: translateY(-15%);
  align-self: center;
  margin-bottom: auto;
  opacity: 0;
}
@media screen and (max-width: 1100px) {
  .home-image{
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .home-image{
    width: 300px;
  }
}
.navbar{
  position: fixed;
  top: 40px;
  width: 90%;
  z-index: 100;
  left: 50%;
  background-color: var(--bg-color);
  transform: translateX(-50%);
  height: 40px;
  display: block;
  border-radius: 40px;
  border: 1px solid var(--black);
  margin: auto;
  padding:  10px 30px;
  transition:  opacity 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}
@media screen and (max-width: 560px) {
  .navbar{
    justify-content: center;
    top: 15px;
    padding: 10px ;
  }
}

.navbar:focus {
  opacity: 1;
}
.navbar.visible{
  opacity: 1;
}
.navbar .list{
  display: flex;
  justify-content: center;
  list-style: none;
}
@media screen and (max-width: 560px) {
  .navbar .list{
    width: 100%;
    justify-content: end;
    flex: 1 1 auto;
  }
  .navbar .item{
    padding-right: 10px;
  }
  .item.faq-link{
    padding-right: 0;
  }
}
@media screen and (max-width: 560px) {
  .navbar .list{
    padding-left: 5px;
  }
}
.logo-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-small{
  width: 100px;
  height: 42px;
}
@media screen and (max-width: 800px) {
  .logo-small{
    width: 90px;
    height: 39px;
  }
}
.item a{
  position: relative;
  text-decoration: none;
  /* color: var(--black); */
  font-size: 1.9rem;
  margin-left: 30px;
  z-index: 1;
}
@media screen and (max-width: 560px) {
  .item a{
    margin-left: 0px;

  }
}
.item a:after{
content: "";
position: absolute;
width: 100%;
bottom: 0;
left: 0;
height: 6px;
border-radius: 6px;
background-color: var(--primary-color);
transition: transform 0.3s ease-in-out;
transform: scaleX(0);
transform-origin: right;
z-index: -1;
}
.item a:hover:after{
  transform: scaleX(1);
  transform-origin: left;
}
.title-wrap{
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  height: auto;
  margin-top: 150px;

}
.title{
  position: relative;
  width: 100%;
  height: 100%;
}
.subtitle-wrap{
  position: relative;
  margin-top: 30px;
}
.subtitle{
  display: block;
  font-size: 3rem;
  opacity: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  .subtitle{
    font-size: 2rem;

  }
}
.floating{
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: -10px;
  height: 3px;
  background-color: #000000;
}

.section-cards{
  position: relative;
  margin-bottom: 0;
  height: auto;
}
.cards-wrap{
  width: 100%;
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

@media screen and (max-width: 1050px ) {
  .cards-wrap{
      align-items: center;
      flex-direction: column-reverse;
    }
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  padding: 40px;
  height: 600px;
  border-radius: 2rem;
  transition: border-radius 0.2s ease-in-out;
  background-color: var(--black);
}
.card .bold{
  color: var(--primary-color)

}
@media screen and (max-width: 1050px ) {
  .card{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
  }
}

@media screen and (max-width: 950px ) {
  .card{
    width: 100%;
    margin-bottom: 20px;
    height: fit-content;
  }
}
.card:hover{
  border-radius: 7rem;
  cursor: default;
}
@media screen and (max-width: 950px) {
  .card:hover{
    border-radius: 2rem;
  }
  .section-tarifs:hover{
    border-radius: 2rem !important;
  }
}
.card:first-child{
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.card:first-child:hover{
  border-radius: 0;
}
.card:first-child .pill{
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  min-height: 100px;
}
@media screen and (max-width: 950px ) {
.card:first-child .pill{

}
}
.inside-1{
  grid-column: 1 / 5;
  background-color: var(--black);
  margin-top: 5px;
  background-image: url('../assets/images/gravel.png');
  background-blend-mode: multiply;

  border-radius: 2rem;

}
.inside-2{
  grid-column: 1 / 5;
  border-radius: 2rem;
  grid-row: 2;
  background-color: var(--primary-color);
  background-image: url('../assets/images/gravel.png');
  background-blend-mode: multiply;

  margin-bottom: 5px;
}
@media screen and (max-width: 1050px ) {
.card:first-child{
  align-self: self-start;
  flex-direction: row;
  gap: 10px;
}
}
@media screen and (max-width: 930px ) {
  .card:first-child{
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0;
  }
  .inside-2{
    margin-bottom: 0;
  }
  .inside-1{
    margin-top: 0;
  }
  }
.image-wrap{
  position: relative;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1050px ) {
  .image-wrap{
    position: relative;
    width: 500px;
  }
}
@media screen and (max-width: 930px ) {
  .image-wrap{
    width: fit-content;
  }
  }
.photo-card{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 500px;
  transition: transform 0.2s linear;
  object-fit: cover;
  object-position: center center;
}
@media screen and (max-width: 950px ) {
  .photo-card{
    width: 500px;
  }
}

.text{
  font-size: 2.3rem;
  color:var(--bg-color);
  margin-bottom: 10px;
  line-height: 1.5;

}
@media screen and (max-width: 1250px ) {
  .text {
    font-size: 2rem;
  }
}
  @media screen and (max-width: 1100px ) {
    .text {
      /* font-size: 2.3rem; */
    }
}
@media screen and (max-width: 900px ) {
  .text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px ) {
  .text {
    font-size: 1.6rem;
  }
}
.bandeau-wrap{
  position: relative;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
  height: auto;
}

@media screen and (min-width: 1700px ) {
  .bandeau-wrap{
    opacity: 0;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 700px ) {
  .bandeau-wrap{
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
.bandeau{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 110%;
    height: auto;
    overflow: hidden;
    transform: rotate(-5deg);
    margin-left: -5px;
  }

  .inner-bandeau{
  border: 1px solid var(--black);
  position: relative;
  width: 150%;
  display: flex;
  justify-content: start;
  margin-right: 10px;
  z-index: 100;
  padding: 20px 0;
  transform: translateX(-10%);
}

.panne {
  position: relative;
  animation: slide 20s linear infinite;
  cursor: default;
  white-space: nowrap;
  font-size: 4rem;
  text-align: start;
  padding-right: 10px;
}
@media screen and (max-width: 700px) {
.panne {
  font-size: 2.7rem;
}
}
.section-tarifs{
background-color: var(--black);
padding: 60px 60px 60px;
border-radius: 2rem;
transition: border-radius 0.2s ease-in-out;

}
@media screen and (max-width:700px) {
  .section-tarifs{
    padding: 40px 25px;
  }
}
.section-tarifs:hover{
  border-radius: 7rem;
}

.tarifs-wrap{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 200px;

}
@media screen and (max-width:1200px) {
  .tarifs-wrap{

    flex-direction: column;
    gap: 60px;
  }
}
.tarif{
  position: relative;
  width: 100%;

}
.tarif .title{
  font-size: 3rem;
  font-family: 'gilton';
  padding-bottom: 30px;
  color: var(--primary-color);
}
@media screen and (max-width: 450px) {
  .tarif .title {
    padding-bottom: 20px;

  }
}
.tarif .list{
  padding-left: 30px;
  list-style: none;
}
@media screen and (max-width: 450px) {
  .tarif .list  {
  padding-left: 0;
  }
}
.tarif .list .list-item {
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:700px) {
  .tarif .list .list-item{
    /* justify-content: start; */
  }
}
@media screen and (max-width:450px) {
  .tarif .list .list-item{
    align-items: center;
  }
}

.tarif .list .list-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -25px;
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: var(--bg-color);
  transform: translateY(-100%);
}
@media screen and (max-width: 450px) {
  .tarif .list .list-item:before {
    display: none;
  }
}
.tarif .list .list-item, .list-item span {
  font-size: 2rem;
  color: var(--bg-color);

}
@media screen and (max-width:700px) {
  .tarif .list .list-item, .list-item span {
    font-size: 1.7rem;
  }
}
.tarif .list .list-item .price{
  padding-left: 10px;
  z-index: 1;
  background-color: var(--black);
  cursor: default;
  font-size: 2.2rem;
  flex: 0 0 auto;

}
@media screen and (max-width:700px) {
  .tarif .list .list-item .price {
    font-size: 2rem;
  }
}
@media screen and (max-width:450px) {
  .tarif .list .list-item .price{
    padding-left: 0;
    font-size: 1.6rem;
  }
}
.tarif .list .list-item .service{
  position: relative;
  z-index: 1;
  padding-right: 10px;
  background-color: var(--black);
  cursor: default;
}
@media screen and (max-width:700px) {
  .tarif .list .list-item .service{
    max-width: 260px;
  }
}
.tarif .list .list-item .line{
content: '';
width: 0%;
position: absolute;
top: 50%;
z-index: 0;
left: 0%;
transform: translateY(-80%);
height: 1px;
background-color: var(--primary-color);
transition: width 0.6s ease;
}
.tarif .list .list-item:hover .line{
  width: 100%;
}
.tarif .list .list-item:hover .price{
  animation: colorChange 0s ease forwards;
  animation-delay: 0.4s;
  color: var(--bg-color)
}

@keyframes colorChange {
  0%{
    color: var(--bg-color) ;
  }
  100%{
    color: var(--primary-color);
  }
}
@media screen and (max-width:700px) {

  .tarif .list .list-item .line{
    display: none !important;
  }
}
.tarif .list .sub span{
  padding-left: 40px;
  font-size: 1.6rem;
  color: var(--primary-color) !important;

}
.tarif .list .sub .price{
  position: relative;
  padding-left: 20px;
  font-size: 1.6rem;
  color: var(--primary-color) !important;
}
@media screen and (max-width:700px) {
  .tarif .list .sub {
    font-size: 1.4rem;
  }
}
.tarif .list .list-item.sub{
  position: relative;
}
.tarif .list .list-item .service{
  max-width: none;
}
.tarif .list .list-item.sub::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: 15px;
  border-radius: 8px;
  width: 8px;
  height: 8px;
  z-index: 10;
  background-color: var(--primary-color);
  font-size: 2rem;
}
@media screen and (max-width:700px) {
  .tarif .list .list-item.sub::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    left: 15px;
    border-radius: 8px;
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    font-size: 2rem;
  }
}
.section-photos{
  position: relative;
  background-color: var(--black);
  padding: 60px;
  border-radius: 2rem;
  transition: border-radius 0.4s ease;
}
.section-photos:hover{
  border-radius: 7rem;
}
.grid-wrap{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.section-photos .image-wrap{
  position: relative;
  width: auto;
  align-self: center;
  justify-self: start;
  border-radius: 1.3rem;
  overflow: hidden;

}
.section-photos .photo{
  position: relative;
  width: 100%;

}
.section-photos .icon-wrap{
  grid-column:span 2;
  justify-self: start;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 700px) {
  .section-photos{
    padding: 40px 25px;
  }
  .grid-wrap{
    display: flex;
    flex-direction: column;
  }
  .image-wrap{
    width: 100%;
    /* max-width: 400px; */
  }
}


@media screen and (max-width: 500px) {
  .section-photos:hover{
    border-radius: 2rem;
  }
  .section-photos .section-title{
      font-size: 4rem;
  }

}

.section-contact{
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
.contact-wrap{
  display: flex ;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .contact-wrap{
    flex-direction: column;
  }
}
.contact-image-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-top-right-radius:56rem;
  border-top-left-radius:35rem;
  overflow: hidden;
  transition: border-radius 0.4s ease;
  flex: 0 0 auto;
}
@media screen and (max-width: 1050px) {
  .contact-image-wrap{
    width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .contact-image-wrap{
    width: 200px;

  }
}
@media screen and (max-width: 500px) {
  .contact-image-wrap{
    width: 100%;
  }
}
.contact-image-wrap:hover{
  border-bottom-left-radius:100rem;


}
.contact-image{
  width: 100%;
  display: block;
}
.phone-link{
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
}
.phone-number{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.email{
  font-family: 'gilton';
  font-size: clamp(1.9rem, 6vw, 7rem);
}

.section-faq{
  opacity: 1;
  z-index: 100;
  position: fixed;
  width: 70%;
  top: 0;
  height: 100%;
  right:0;
  padding: 0px 30px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0s;
}
@media screen and (max-width: 1000px) {
  .section-faq{
    width: 100%;
  }
}
.overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(36, 36, 36, 0.458);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 15;
}
.overlay.open{
  opacity: 1;
  pointer-events: all;
  z-index: 101;

}

.section-faq.open{
  opacity: 1;
  transform: translateX(0);
  z-index: 120;
  transition: transform 0.5s ease-in-out, opacity 0s;

}
.section-faq.open .inner-section-faq{
  box-shadow: -1px 3px 90px 0px #000000;

}
.inner-section-faq{
  box-shadow: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ddc3af;
  position: absolute;
  right: 0;top: 0px;
  padding: 110px 30px 0;
  height: 100%;
  overflow: auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 800px) {
  .inner-section-faq{
    padding: 60px 15px 0;
  }
}
  .close {
    position: absolute;
    left: 32px;
    top: 110px;
    width: 32px;
    height: 32px;
  }
  @media screen and (max-width: 800px) {
    .close{
      top: 40px
    }
  }
  .close:hover{
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
}
.section-title{
  font-size: 5rem;
  text-align: center;
  display: block;
  font-family: 'gilton';
  margin: auto;
  text-transform: uppercase;
  margin-bottom: 60px;

}
.section-title.reverse{
  color: var(--bg-color)
}
.faq-wrap{
  position: block;
  width: 100%;
  position: relative;
}
.faq-item{
  padding:  20px 30px;
  border: 1px solid var(--black);
  width: 100%;
  position: relative;
  border-bottom: 0;
}

.faq-item:first-child{

  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.faq-item:last-child{
  border: 1px solid var(--black);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.faq-item:hover{
  cursor: pointer;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus-icon{
  font-size: 4rem;
  margin-left: 100px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.faq-item:hover .plus-icon{
  opacity: 1;
}
.plus-icon.opened{
  transform: rotate(45deg);
}
@media screen and (max-width: 1000px) {
  .plus-icon{
    font-size: 2rem;
    margin-left: 20px;
    opacity: 1;
  }

}
.question .label{
  font-size: 2.9rem;
  font-family: 'din-bold' ;
}
@media screen and (max-width: 1000px) {
  .question .label{
    font-size: 2rem;
  }
}
.reponse-block{
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out, margin-top 0.3s ease;
  border-top: 0;

}
.reponse-block.opened{
  margin-top: 10px;
  grid-template-rows: 1fr;
}

.reponse-block > * {
  overflow: hidden;
}
.reponse{
  font-size: 2.6rem;
}
@media screen and (max-width: 1000px) {
  .reponse{
    font-size: 1.8rem;
  }
  .reponse-block.opened{
    margin-top: 10px;
    grid-template-rows: 1fr;
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.title path {
  transform: rotate(45deg) translateY(100px);
}
@keyframes textReveal {
  0%{
    transform: rotate(20deg) translateY(150px);
  }
  100%{
    transform: rotate(0deg) translateY(0);
  }
}
@keyframes subtitleReveal {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floatingLine {
  0%{
    opacity: 0;
    width: 0;
  }
  100%{
    opacity: 1;
    width: 400px;
  }
}
@keyframes floatingLineUp2000 {
  0%{
    opacity: 0;
    width: 0;
  }
  100%{
    opacity: 1;
    width: 40vw;
  }
}
@keyframes floatingLineDown1100 {
  0%{
    opacity: 0;
    width: 0;
  }
  100%{
    opacity: 1;
    width: 300px;
  }
}
@keyframes floatingLineDown700 {
  0%{
    opacity: 0;
    width: 0;
  }
  100%{
    opacity: 1;
    width: 200px;
  }
}

@keyframes homeImage {
  0%{
    opacity: 0;
    transform: translateY(10px);

  }
  100%{
    opacity: 1;
    transform: translateY(-15%);
  }
}
